<div class="banner-img">
    <div class="banner-text">
        <h1>Ideas to change the world!</h1>
        <p>Make it count...</p>
        <div class="btn-wrapper">
            <%= link_to 'Create', new_idea_problem_path, class: 'btn btn-ghost'%>
            <%= link_to 'Browse', idea_problems_path, class: 'btn btn-ghost'%>
        </div>
    </div>
</div>