.banner {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/30/12/16/question-mark-1872665_1280.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 250px 200px;
    h1, p {
        color: white;
    }
}


.btn-ghost {
    color: white;
    border: 1px solid white;
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.8;
    transition: opacity 0.3s ease;
  }

.btn-ghost:hover {
    opacity: 1;
    color: white;
    background: rgba($color: white, $alpha: .3);
}

.btn-wrapper {
    width: 450px;
    display: flex;
    justify-content: space-between;
}