.card-body {
    margin: 0 0 12px 0;
    background: white;
    border-radius: 4px;
    padding: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 450px;
    h5 {
        font-size: 14px;
        font-weight: bold;
    }
    p {
        font-size: small;
    }
}

.link a {
    text-decoration: none;
    color: #222;
}

.symbols {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    // font-size: 14px
}

.edit-delete {
    display: flex;
    justify-content: space-between;
    width: 40px;
    a {
        color: #222;
    }
}

.date {
    display: flex;
    justify-content: space-between;
    p {
        color: lightslategray;
        font-size: 12px;
    }
    a {
        color: lightslategray;
        text-decoration: none;
    }
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    h4 {
        text-align: center;
        padding: 5px;
        a {
            color: #222;
            text-decoration: none;
            &:hover {
                color: lightslategray;
            }
        }
    }
}

.filter-links {
    display: flex;
    justify-content: center;
}

.filter {
    display: flex;
    flex-direction: column;
    p {
        text-align: center;
        margin-bottom: 50px;
        a {
            color: #222;
            text-decoration: none;
            &:hover {
                color: lightslategray;
            }
        }
    }
}

.hide {
    display: none;
}


.categories, .title {
    display: flex;
    p {
        font-size: 12px;
    }
    a {
        color: #222;
        text-decoration: none;
        &:hover {
            color: #0091AD;
        }
    }
}

.idea-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin: 0 auto;
}

@media(max-width: 1281px) {
    .idea-grid {
      grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 992px) {
    .idea-grid {
      grid-template-columns: 1fr;
    }
}

// @media(max-width: 768px) {
//     .idea-grid {
//       grid-template-columns: 1fr;
//     }
// }
