.card-details-body {
    // width: 50vw;
    margin: 0 auto 12px auto;
    background: white;
    border-radius: 4px;
    padding: 16px 50px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    h5 {
        font-size: 14px;
        font-weight: bold;
    }
    p {
        font-size: small;
        a {
            color: #222;
        }
    }
}

.info {
    display: flex;
    justify-content: space-between;
    p a {
        text-decoration: none;
        // color: #06BCC1;
        color: #0091AD;
    }
}
