.filter-sidebar {
    width: 20wv;
    position: fixed;
    padding: 100px 30px;
    height: 100vh;
    background: white;
    //  color: white;
    z-index: 1;
    left: 0;
}

.hide-button {
    position: fixed;
    left: 330px;
    top: 100px;
    color: lightgray;
    opacity: .8;
    z-index: 1;
    i {
        cursor: pointer;
    }
}

.inactive {
    position: absolute;
    left: -100%;
    transition: all 1s ease-in-out;
}

.arrow-inactive {
    left: 10px !important;
}
