.plus-symbol {
    position: relative;
    width: max-content;
    left: 50%;
    top: 15px;
    a {
        // color: #0091AD;
        color: #222;
        text-decoration: none;
    }
}

.message-hide {
    display: none; 
}

#show-hide-arrow {
    cursor: pointer;
}

.add {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 30px;
    height: 30px;
    border: 2px solid #222;
    border-radius: 50%;
}


.table {
    // border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
// #282d37
